@model KhachHang
<form method="post" class="khung bieu-mau">
    <input type="hidden" asp-for="Id" />

    <div>
        <label>Mã KH</label>
        <input asp-for="MaKH" />
    </div>

    <div>
        <label>Họ tên</label>
        <input asp-for="HoTen" />
    </div>

    <div>
        <label>Số điện thoại</label>
        <input asp-for="SDT" />
    </div>

    <div>
        <label>Địa chỉ</label>
        <input asp-for="DiaChi" />
    </div>

    <div>
        <label>Tổng đơn</label>
        <input asp-for="TongDon" type="number" />
    </div>

    <div class="dong-day-du nut-dong">
        <button class="nut-chinh" type="submit">Lưu</button>
        <a class="nut-phu" asp-action="Index">Hủy</a>
    </div>
</form>
