@model NhanVien
<form method="post" class="khung bieu-mau">
    <input type="hidden" asp-for="Id" />

    <div>
        <label>Mã NV</label>
        <input asp-for="MaNV" />
    </div>

    <div>
        <label>Họ tên</label>
        <input asp-for="HoTen" />
    </div>

    <div>
        <label>Số điện thoại</label>
        <input asp-for="SDT" />
    </div>

    <div>
        <label>Chức vụ</label>
        <select asp-for="ChucVu">
            <option>Quản lý</option>
            <option>Nhân viên</option>
            <option>Nhân viên kho</option>
        </select>
    </div>

    <div>
        <label>Tài khoản</label>
        <input asp-for="TaiKhoan" />
    </div>

    <div>
        <label>Mật khẩu</label>
        <input asp-for="MatKhau" />
    </div>

    <div>
        <label>Trạng thái</label>
        <select asp-for="TrangThai">
            <option>Hoạt động</option>
            <option>Đã nghỉ</option>
        </select>
    </div>

    <div class="dong-day-du nut-dong">
        <button class="nut-chinh" type="submit">Lưu</button>
        <a class="nut-phu" asp-action="Index">Hủy</a>
    </div>
</form>
